Host nix-builder-aarch64
  HostName 127.0.0.1
  User docknix
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  IdentityFile /Users/bobby/.ssh/id_rsa
  Port 3022

Host nix-builder-x86_64
  HostName 127.0.0.1
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  Port 3023
