# use caddy's local CA until we're ready to make 'vofi.app' public
{
	local_certs
}

jellyfin.vofi.app {
	reverse_proxy ser8.internal:8096
}

jellyfin.vofi {
	reverse_proxy ser8.internal:8096
}

sonarr.vofi {
	reverse_proxy ser8.internal:8989
}

radarr.vofi {
	reverse_proxy ser8.internal:7878
}

torrent.vofi {
	reverse_proxy ser8.internal:8080
}

prowlarr.vofi {
	reverse_proxy ser8.internal:9696
}

# adguard should be internally accessible only
adguard.internal {
	reverse_proxy pi4.internal:3000
}

grafana.vofi.app {
	reverse_proxy firebat.internal:3000
}

prometheus.vofi.app {
	reverse_proxy firebat.internal:9090
}
